@import "tailwindcss";

:root {
  --primary: #a855f7;
  --hover-primary: rgb(168 85 247 / 0.1);
  --text: #fff;
  --background: rgb(9 9 11);
  --foreground: rgb(9 9 11 / 0.5);
}

[data-theme="dark"] {

}